/_reports/
/loc.rs

## File systems
.DS_Store
desktop.ini

## IDEs
.idea/
.vscode/

## Mutation testing
/mutants.out*/

## Profiling
/profile_fs/
/flamegraph.pl
/perf.data
/perf.data.old
/perf.svg
/stackcollapse-*.pl

## Rust & Cargo
/debug/
/target/
*.profraw
**/*.rs.bk

## Test coverage
cobertura*
lcov*
tarpaulin*
