name: Audit
on:
  pull_request:
    paths:
      - .github/workflows/audit.yml
      - Cargo.lock
      - Cargo.toml
      - deny.toml
      - Justfile
  push:
    branches:
      - main
  schedule:
    - cron: 0 2 * * *
  workflow_dispatch: ~

permissions: read-all

env:
  RUST_BACKTRACE: 1

jobs:
  cargo:
    name: Cargo
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - name: Cache Rust & Cargo
        uses: actions/cache@a7833574556fa59680c1b7cb190c1735db73ebf0 # v5.0.0
        with:
          path: |
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: Install Rust toolchain
        run: rustup show
      - name: Install Just
        uses: taiki-e/install-action@60581cd7025e0e855cebd745379013e286d9c787 # v2.64.2
        with:
          tool: just@1
      - name: Install cargo-deny
        uses: taiki-e/install-action@60581cd7025e0e855cebd745379013e286d9c787 # v2.64.2
        with:
          tool: cargo-deny@0.18.5
      - name: Audit
        run: just ci-audit
