name: Compliance
on:
  pull_request:
    paths:
      - .github/workflows/compliance.yml
      - Cargo.lock
      - Cargo.toml
      - deny.toml
      - Justfile
  push:
    branches:
      - main

permissions: read-all

env:
  RUST_BACKTRACE: 1

jobs:
  license:
    name: License
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - name: Cache Rust & Cargo
        uses: actions/cache@a7833574556fa59680c1b7cb190c1735db73ebf0 # v5.0.0
        with:
          path: |
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: Install Rust toolchain
        run: rustup show
      - name: Install Just
        uses: taiki-e/install-action@d850aa816998e5cf15f67a78c7b933f2a5033f8a # v2.63.3
        with:
          tool: just@1
      - name: Install cargo-deny
        uses: taiki-e/install-action@d850aa816998e5cf15f67a78c7b933f2a5033f8a # v2.63.3
        with:
          tool: cargo-deny@0.18.5
      - name: Check compliance
        run: just ci-compliance
