name: Compliance
on:
  pull_request:
    paths:
      - .github/workflows/compliance.yml
      - Cargo.lock
      - Cargo.toml
      - deny.toml
      - Justfile
  push:
    branches:
      - main

permissions: read-all

env:
  RUST_BACKTRACE: 1

jobs:
  license:
    name: License
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Cache Rust & Cargo
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: |
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: Install Rust toolchain
        run: rustup show
      - name: Install Just
        uses: taiki-e/install-action@aa2649f25ee7099207734772f5393fd30167cb73 # v2.58.0
        with:
          tool: just@1
      - name: Install cargo-deny
        uses: taiki-e/install-action@aa2649f25ee7099207734772f5393fd30167cb73 # v2.58.0
        with:
          tool: cargo-deny@0.18.5
      - name: Check compliance
        run: just ci-compliance
