name: Dev
on:
  pull_request:
    paths:
      - .github/workflows/dev.yml
      - Cargo.lock
      - Cargo.toml
      - Containerfile.dev
      - Justfile
  push:
    branches:
      - main

permissions: read-all


jobs:
  container:
    name: Container
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - name: Install Just
        uses: taiki-e/install-action@b9c5db3aef04caffaf95a1d03931de10fb2a140f # v2.65.1
        with:
          tool: just@1
      - name: Build
        run: just dev-img
