name: Rust
on:
  pull_request:
    paths:
      - "**.rs"
      - .github/workflows/rust.yml
      - Cargo.lock
      - Cargo.toml
      - clippy.toml
      - Justfile
      - rust-toolchain.toml
      - rustfmt.toml
  push:
    branches:
      - main

permissions: read-all

env:
  RUST_BACKTRACE: 1

jobs:
  build:
    name: Build (${{ matrix.name }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: MacOS
            os: macos-14
          - name: Ubuntu
            os: ubuntu-24.04
          - name: Windows
            os: windows-2025
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - name: Cache Rust & Cargo
        uses: actions/cache@a7833574556fa59680c1b7cb190c1735db73ebf0 # v5.0.0
        with:
          path: |
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: Install Rust toolchain
        run: rustup show
      - name: Install Just
        uses: taiki-e/install-action@d850aa816998e5cf15f67a78c7b933f2a5033f8a # v2.63.3
        with:
          tool: just@1
      - name: Install cargo-all-features
        uses: taiki-e/install-action@d850aa816998e5cf15f67a78c7b933f2a5033f8a # v2.63.3
        with:
          tool: cargo-all-features@1.10.0
      - name: Build
        run: just ci-build
  build-nightly:
    name: Build nightly (${{ matrix.name }})
    runs-on: ${{ matrix.os }}
    needs:
      - build
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: MacOS
            os: macos-14
          - name: Ubuntu
            os: ubuntu-24.04
          - name: Windows
            os: windows-2025
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - name: Cache Rust & Cargo
        uses: actions/cache@a7833574556fa59680c1b7cb190c1735db73ebf0 # v5.0.0
        with:
          path: |
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: nightly-${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: Install Rust toolchain
        run: |
          rustup install nightly
          rustup override set nightly
          rustup show
      - name: Install Just
        uses: taiki-e/install-action@d850aa816998e5cf15f67a78c7b933f2a5033f8a # v2.63.3
        with:
          tool: just@1
      - name: Install cargo-all-features
        uses: taiki-e/install-action@d850aa816998e5cf15f67a78c7b933f2a5033f8a # v2.63.3
        with:
          tool: cargo-all-features@1.10.0
      - name: Build
        run: just ci-build
  coverage:
    name: Coverage
    runs-on: ubuntu-24.04
    needs:
      - test
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - name: Cache Rust & Cargo
        uses: actions/cache@a7833574556fa59680c1b7cb190c1735db73ebf0 # v5.0.0
        with:
          path: |
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: Install Rust toolchain
        run: rustup show
      - name: Install Just
        uses: taiki-e/install-action@d850aa816998e5cf15f67a78c7b933f2a5033f8a # v2.63.3
        with:
          tool: just@1
      - name: Install cargo-tarpaulin
        uses: taiki-e/install-action@d850aa816998e5cf15f67a78c7b933f2a5033f8a # v2.63.3
        with:
          tool: cargo-tarpaulin@0.32.0
      - name: Run all tests with coverage
        run: just ci-coverage
      - name: Upload coverage report
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        if: ${{ failure() || success() }}
        with:
          name: coverage-report
          path: _reports/coverage/
          retention-days: 7
  docs:
    name: Docs
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - name: Cache Rust & Cargo
        uses: actions/cache@a7833574556fa59680c1b7cb190c1735db73ebf0 # v5.0.0
        with:
          path: |
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: Install Rust toolchain
        run: rustup show
      - name: Install Just
        uses: taiki-e/install-action@d850aa816998e5cf15f67a78c7b933f2a5033f8a # v2.63.3
        with:
          tool: just@1
      - name: Build docs
        run: just ci-docs
  fmt:
    name: Fmt
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - name: Cache Rust & Cargo
        uses: actions/cache@a7833574556fa59680c1b7cb190c1735db73ebf0 # v5.0.0
        with:
          path: |
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: Install Rust toolchain
        run: rustup show
      - name: Install Just
        uses: taiki-e/install-action@d850aa816998e5cf15f67a78c7b933f2a5033f8a # v2.63.3
        with:
          tool: just@1
      - name: Check formatting
        run: just ci-fmt
  mutation:
    name: Mutation
    runs-on: ubuntu-24.04
    needs:
      - test
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Cache Rust & Cargo
        uses: actions/cache@a7833574556fa59680c1b7cb190c1735db73ebf0 # v5.0.0
        with:
          path: |
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: Install Rust toolchain
        run: rustup show
      - name: Install Just
        uses: taiki-e/install-action@d850aa816998e5cf15f67a78c7b933f2a5033f8a # v2.63.3
        with:
          tool: just@1
      - name: Install cargo-mutants
        uses: taiki-e/install-action@d850aa816998e5cf15f67a78c7b933f2a5033f8a # v2.63.3
        with:
          tool: cargo-mutants@25.0.0
      - name: Determine diff for mutation testing on push
        if: ${{ github.event_name != 'pull_request' }}
        run: |
          git diff 4b825dc642cb6eb9a060e54bf8d69288fbee4904 HEAD >changes.diff
      - name: Determine diff for mutation testing on Pull Request
        if: ${{ github.event_name == 'pull_request' }}
        env:
          BASE: ${{ github.event.pull_request.base.ref }}
        run: |
          git diff "origin/$BASE" >changes.diff
      - name: Run mutation tests
        run: just ci-mutation
      - name: Upload mutation report
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        if: ${{ failure() || success() }}
        with:
          name: mutation-report
          path: _reports/mutants.out/
          retention-days: 7
  reproducible:
    name: Reproducible build
    runs-on: ubuntu-24.04
    needs:
      - build
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - name: Cache Rust & Cargo
        uses: actions/cache@a7833574556fa59680c1b7cb190c1735db73ebf0 # v5.0.0
        with:
          path: |
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: Install Rust toolchain
        run: rustup show
      - name: Install Just
        uses: taiki-e/install-action@d850aa816998e5cf15f67a78c7b933f2a5033f8a # v2.63.3
        with:
          tool: just@1
      - name: Check reproducibility
        run: just reproducible
  test:
    name: Test (${{ matrix.name }})
    runs-on: ${{ matrix.os }}
    needs:
      - build
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: MacOS
            os: macos-14
          - name: Ubuntu
            os: ubuntu-24.04
          - name: Windows
            os: windows-2025
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - name: Cache Rust & Cargo
        uses: actions/cache@a7833574556fa59680c1b7cb190c1735db73ebf0 # v5.0.0
        with:
          path: |
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: Install Rust toolchain
        run: rustup show
      - name: Install Just
        uses: taiki-e/install-action@d850aa816998e5cf15f67a78c7b933f2a5033f8a # v2.63.3
        with:
          tool: just@1
      - name: Install cargo-all-features
        uses: taiki-e/install-action@d850aa816998e5cf15f67a78c7b933f2a5033f8a # v2.63.3
        with:
          tool: cargo-all-features@1.10.0
      - name: Run all tests
        run: just ci-test
  test-nightly:
    name: Test nightly (${{ matrix.name }})
    runs-on: ${{ matrix.os }}
    needs:
      - build-nightly
      - test
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: MacOS
            os: macos-14
          - name: Ubuntu
            os: ubuntu-24.04
          - name: Windows
            os: windows-2025
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - name: Cache Rust & Cargo
        uses: actions/cache@a7833574556fa59680c1b7cb190c1735db73ebf0 # v5.0.0
        with:
          path: |
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: nightly-${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: Install Rust toolchain
        run: |
          rustup install nightly
          rustup override set nightly
          rustup show
      - name: Install Just
        uses: taiki-e/install-action@d850aa816998e5cf15f67a78c7b933f2a5033f8a # v2.63.3
        with:
          tool: just@1
      - name: Install cargo-all-features
        uses: taiki-e/install-action@d850aa816998e5cf15f67a78c7b933f2a5033f8a # v2.63.3
        with:
          tool: cargo-all-features@1.10.0
      - name: Run all tests
        run: just ci-test
  vet:
    name: Vet
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - name: Cache Rust & Cargo
        uses: actions/cache@a7833574556fa59680c1b7cb190c1735db73ebf0 # v5.0.0
        with:
          path: |
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: Install Rust toolchain
        run: rustup show
      - name: Install Just
        uses: taiki-e/install-action@d850aa816998e5cf15f67a78c7b933f2a5033f8a # v2.63.3
        with:
          tool: just@1
      - name: Install cargo-all-features
        uses: taiki-e/install-action@d850aa816998e5cf15f67a78c7b933f2a5033f8a # v2.63.3
        with:
          tool: cargo-all-features@1.10.0
      - name: Vet
        run: just ci-vet
